
main{
    margin-top: 210px;
    padding-inline: 30px;
}

.images-cards {
  display: grid;
  place-items: center;
}

.cards{
  padding-inline: 1rem;
  padding-block: 2.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.5rem;
  column-gap: clamp(0.8rem, 1.655vw, 1.5rem);
  border-radius: 1.5rem;
  justify-content: center;
}

.image-card {
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 4px 20px rgba(187, 155, 255, 0.8);
  border-radius: 1.5rem;
  z-index: 4;
  position: relative;
}

.image-card img {
  width: 320px;
  border-radius: 1.5rem;
  object-fit: cover;
  height: 450px;
}

#object-pos{
  object-position: left top;
}

.card-data {
  max-width: 280px;
  background-color: #ffffff15;
  backdrop-filter: blur(10px);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -8rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 4px 20px rgba(187, 155, 255, 0.8);
  padding-inline: 2.5rem;
}

@media (max-width: 1450px){
  main{
    padding-inline: 0;
  }
}

@media (max-width: 1350px){
  .image-card img{
    width: 350px;
  }
  .card-data{
    width: 320px;
  }
  .cards{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}


@media (max-width: 750px){
  .image-card img{
    width: 300px;
  }
}

@media (max-width: 650px){
  .image-card img{
    width: 250px;
    height: 420px;
  }

  .card-data{
    width: 220px;
  }
}

@media (max-width: 550px){
  .image-card img{
    width: 340px;
  }

  .card-data{
    width: 330px;
  }

  .cards{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 400px){
  .image-card img{
    width: 300px;
  }
  .card-data{
    width: 280px;
  }
}

@media (max-width: 350px){
  .image-card img{
    width: 270px;
  }
  .card-data{
    width: 250px;
  }
}

.card-link{
    font-size: clamp(1.1rem, 1.448vw, 1.3rem);
    font-weight: 500;
}

.card-link:hover {
  text-decoration: underline;
}

.image-card:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.image-card:hover {
  animation: remove-overflow 2s forwards;
}

.image-card:not(:hover) {
  animation: show-overflow 2s forwards;
}

.image-cardnk:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}


/* @media screen and (max-width: 340px) {
  .images-cards {
    margin-inline: 1rem;
  }

  .card-data {
    width: 250px;
    padding: 1rem;
  }
} */

/* For medium devices */
/* @media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
} */

/* For large devices */
/* @media screen and (min-width: 1150px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .image-card img {
    width: 320px;
  }
  .card-data {
    width: 300px;
    padding-inline: 2.5rem;
  }
} */
